/* Shared style  */
* {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 0;
}

p {
    color: #919090;
}

h4,
h3,
h5 {
    color: #424242;
}

.section-title {
    font-size: 1.7em;
    margin-bottom: 30px;
}

.section-description {
    color: #757575;
}

/* ------------ */

/* primary font color */
.primary-color {
    color: #FD6E0A
}

/* --------------- */

/* primary button */
.primary-btn {
    background-color: #FD6E0A;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    border: 0;
    border-radius: 5px;
    padding: 10px 35px;
}

/* -------------- */

.nav-title {
    font-size: x-large;
    font-weight: 800;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    padding-left: 51px;
}

nav li a {
    text-decoration: none;
    color: #474747;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 30px 100px 60px 100px;
    align-items: center;
}

/* Header section style  */
header {
    background-color: #FFF8F3;
}

header .profile-pic img {
    width: 500px;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: url('../images/header_bg.png') no-repeat bottom right;
    /* background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right; */
}

.banner-content {
    max-width: 500px;
}

.banner-content h3 {
    font-size: 45px;
    font-weight: normal;
}

.banner-content button {
    margin: 50px 0;
}

.banner-content h1 {
    font-size: 85px;
}

/* main style */
.main-container {
    width: 1140px;
    margin: 136px auto;
}

/* About section style*/
.about-section {
    background-color: #FFF8F3;
    display: flex;
    justify-content: center;
    /* margin-top: 136px; */
    padding: 100px 120px 50px;
    text-align: center;
}

.about-section div {
    width: 782px;
}

.about-info-container {
    display: flex;
    padding-top: 60px;
}

/* What I do section*/

.what-i-do {
    text-align: center;
    padding: 100px 120px 50px;
}

.what-i-do-cart {
    display: flex;
}

.cart {
    width: 210px;
    text-align: left;
    box-shadow: 5px 5px 10px 5px rgb(243, 243, 243);
    padding: 10px;
    border-radius: 10px;
    /* margin: 50px 20px 0; */
    margin-left: 20px;
    margin-top: 50px;
}

.cart>img,
p,
h3 {
    padding-bottom: 10px;
}

/* Summary of resume */
.summary-resume {
    text-align: center;
    padding: 50px 120px 50px;
}

.resume {
    display: flex;
}

.education,
.experience {
    width: 50%;
    text-align: left;
}

.experience {
    padding-top: 10px;
    padding-left: 30px;
}

.education>div>h4,
h5,
p {
    padding-bottom: 10px;
}

.center-btn {
    width: 150px;
    margin: 50px auto;

}